/* App.css */
*{
    margin: 0;
    padding: 0;
    }
    

    /* contact list css */
    
    .contact-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width:103%;
      height: auto;
      /* border: 2px solid red; */
    }
    
    .contact-list-item {
       margin-bottom: 15px;
      padding: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 90%;
      border-bottom: 2px solid grey;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    
    }
    
    
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ddd;
      margin-right: 10px;
      overflow: hidden;
    }
    
    .user-info {
      flex: 1;
      display: flex;
      flex-direction: column;
  
    }
    
    .user-info h2 {
      margin: 0;
      font-size: 14px;
    }
    
    .user-info .name-timestamp {
      display: flex;
      align-items: center;
    }
    
    .user-info .name-timestamp .name {
      font-weight: bold;
      margin-right: 5px;
    }
    
    .user-info .timestamp {
      font-size: 10px;
      color: #888;
      margin-left: auto;
      margin-top: 0%;
    }
    .user-info .last-message{
      margin: 0;
    }
    
    