/* App.css */
*{
margin: 0;
padding: 0;
}

.chat-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin:0;
  padding: 0;
  /* overflow: hidden; */
  /* border: 2px solid red; */
}

.headerDiv{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  background-color: black;
  height: 12%;
  color: white;
}


.logoutDiv{
   /* background-color: #888; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1%;
  /* border: 2px solid yellow; */

}

.chat-app header {
  background-color: black;
  color: white;
  
}
h1{
  margin-top: 1%;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* border: 10px dotted green; */
  height: 67%;

}

.sidebar {
  width:30%;
  padding: 20px;
  /* height: ; */
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  /* border: 3px solid orange; */
}

.chat-window{
  width:70%;
  height: 100%;
  /* border:10px dotted orange ; */
  flex-direction: column;
  display: flex;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 5%;
}


 .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}


.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat-header .user-info .online-status{
  color:green;
  
}

.chat-header .user-info h2 {
  margin: 0;
  font-size: 16px;
}

.chat-header .user-info p {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.input-box {
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.send-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.input-box input:focus {
  outline: none;
}

/* .sidebar{
width: 40vw;
} */


/* Updated CSS for the message list container */
.scrollableDiv{
  flex:1;
  /* border: 3px solid brown; */
}
.message-list {
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  /* border: 2px solid green; */
    height:95vh ;

}
/* Updated CSS for message content */
.message-content {
  background-color: rgb(213, 211, 211);
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
  max-width: 70%; /* Limit message content to 80% of its parent's width */
  word-wrap: break-word; /* Ensure long words break and don't overflow */
}


 .message-left {
  text-align: left;
}

.message-right {
  text-align: right;
}

.message-timestamp {
  font-size: 10px;
  color: #888;
  margin-left: 5px;
}
.input-box{
  height: 2%;
  /* border: 2px solid blue; */
}

