.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-list-item {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 14px;
  }
  
  .user-info .name-timestamp {
    display: flex;
    align-items: center;
  }
  
  .user-info .name-timestamp .name {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .user-info .timestamp {
    font-size: 10px;
    color: #888;
    margin-left: auto;
    margin-top: 0%;
  }
  .user-info .last-message{
    margin: 0;
  }
