/* App.css */
*{
    margin: 0;
    padding: 0;
    }
  
    .chat-windoww{
      width:100%;
      height: 100%;

      flex-direction: column;
      display: flex;
    }
    
    .chat-header {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      height: 5%;
    }
    
    
     .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ddd;
      margin-right: 10px;
    }
    
    
    .user-info {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .chat-header .user-info .online-status{
      color:green;
      
    }
    
    .chat-header .user-info h2 {
      margin: 0;
      font-size: 16px;
    }
    
    .chat-header .user-info p {
      margin: 0;
      font-size: 12px;
      color: #888;
    }
    
    .input-box {
      background-color: #fff;
      padding: 20px;
      border-top: 1px solid #ccc;
      display: flex;
      align-items: center;
    }
    
    .input-box input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
    
    
    
    .input-box input:focus {
      outline: none;
    }
    
    
    /* Updated CSS for the message list container */
    #scrollableDiv{
      flex:1;
      /* border: 3px solid brown; */
    }
    .message-list {
      background-color: #fff;
      padding: 5px;
      overflow-y: auto;
      background-color: #fff;
      /* border: 2px solid green; */
        height:auto ;
    
    }
    /* Updated CSS for message content */
    .message-content {
      background-color: rgb(213, 211, 211);
      padding: 8px 12px;
      border-radius: 8px;
      display: inline-block;
      max-width: 70%; /* Limit message content to 80% of its parent's width */
      word-wrap: break-word; /* Ensure long words break and don't overflow */
    }
    
    
     .message-left {
      text-align: right;
    }
    
    .message-right {
      text-align:left;
    }
    
    .message-timestamp {
      font-size: 10px;
      color: #888;
      margin-left: 5px;
    }
    .input-box{
      height: 2%;
      /* border: 2px solid blue; */
    }
    
